<h1>This is the log in form</h1>

<%=@msg%>

<form action="<%=session_url%>" method="POST">
  <label for="email"> Email</label>
  <input type="text" name="session[email]" id="email">
  <br>

  <label for="password"> Password</label>
  <input type="password" name="session[password]" id="password">
  <br>

  <button>Log in</button>

</form>

<a href="/users">Back to Homepage</a>
