<form action="<%=track_url(@track.id)%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <textarea name="track[lyrics]"><%=@track.lyrics%></textarea>
  <button>Submit!</button>
</form>

<a href="<%=track_url(@track.id)%>">Back to Previous Page</a>
