<h1>Add an Track!!!!</h1>

<%=@track.errors.full_messages if @track%>

<form action="<%=tracks_url%>" method="POST">

  <label for="name"> Song Name</label>
  <input type="text" name="track[song_name]" id="name">
  <br>
  Choose Band:
  <select name="track[album_id]">

    <% @albums.each do |album| %>
      <option value="<%=album.id%>"><%=album.title%></option>
    <%end%>

  </select>

  <button>Submit!</button>

</form>

<br>

<a href="<%=user_url(current_user.id)%>">Back</a>
