<h1>Song name: <%=@track.song_name%></h1>

Lyrics:<br>
<%=@track.lyrics if @track.lyrics %>
<br>
<a href="<%=edit_track_url(@track.id)%>">Edit Lyrics</a>
<ul>
  <% @track.notes.each do |note| %>

    <li> <b><%=note.author.email%>:</b> <br> <%=note.body%><br> </li>

    <% if note.user_id == @user.id%>

      <form action="<%=note_url(note.id)%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete Post</button>
      </form>

    <%end%>

  <%end%>
</ul>

<br>
<%= render "notes/post" %>
<br>
<a href="<%=album_url(@track.album_id)%>"> Up One Level </a>
