<% if logged_in? %>
  <a href="<%=user_url(@current.id) if @current%>">Go to My Profile</a>
<%end%>
<h1> Welcome to Eric's Pointless Music App! </h1>

<img src="http://images.clipartpanda.com/christmas-music-notes-border-singing_8355-1.jpg" width=800
  height=400>
<br>
members:
<br>
  <% @users.each do |user| %>
  <a href="<%= user_url(user.id)%>"><%=user.email%></a>
  <br>
  <%end%>
