<h1>This is the sign up form</h1>

<%=@user.errors.full_messages%>

<form action="<%=users_url%>" method="POST">

  <label for="email"> Email</label>
  <input type="text" name="user[email]" id="email">
  <br>

  <label for="password"> Password</label>
  <input type="password" name="user[password]" id="password">
  <br>

  <button>Make User!</button>

</form>

<br>

<a href="/users">Back to Homepage</a>
