<h1>This is your profile page </h1>

Your email is:  <%= @user.email %>

<br>

<a href="/bands">View Bands</a>

<br>

<a href="<%=new_band_url%>"> Add a Band!</a>

<br>

<a href="<%=new_album_url%>"> Add an Album!!</a>

<br>

<a href="<%=new_track_url%>"> Add Track!!</a>

<br>

<a href="/users">Back to Homepage</a>
