<h1>Add an Album!!!!</h1>

<%=@album.errors.full_messages if @album%>

<form action="<%=albums_url%>" method="POST">

  <label for="name"> Album Title</label>
  <input type="text" name="album[title]" id="name">
  <br>
  Choose Band:
  <select name="album[band_id]">

    <% @bands.each do |band| %>
      <option value="<%=band.id%>"><%=band.band_name%></option>
    <%end%>

  </select>

  <button>Submit!</button>

</form>

<br>

<a href="<%=user_url(current_user.id)%>">Back</a>
