<h1>Album name: <%=@album.title%></h1>

Tracks: <br>
<ul>
  <% @album.tracks.each do |song| %>
    <li> <a href="<%=track_url(song.id)%>"><%=song.song_name%></a> </li><br>
  <%end%>
</ul>

<a href="<%=user_url(current_user.id)%>">Up One Level</a>
