<h1>Add a Band!!!!</h1>

<%=@band.errors.full_messages%>

<form action="<%=bands_url%>" method="POST">

  <label for="name"> Band Name</label>
  <input type="text" name="band[band_name]" id="name">
  <br>
  <button>Submit!</button>

</form>

<br>

<a href="<%=user_url(current_user.id)%>">Back</a>
