<h1> Band name: <%=@band.band_name%> </h1>

Albums: <br>

<ul>

  <% @band.albums.each do |album| %>
    <a href="<%=album_url(album.id)%>"><%=album.title%></a><br>
  <%end%>

</ul>

<a href="<%=user_url(current_user.id)%>">Up One Level</a>
