<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>

  <% if logged_in? %>
    <form action="<%=session_url%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button>Log out</button>
    </form>
  <%else%>
  <form action="<%=new_user_url%>" method="GET">
    <button>Create New User</button>
  </form>
  <form action="<%=new_session_url%>" method="GET">
    <button>Log In Page</button>
  </form>
  <%end%>

</head>
<body>

<%= yield %>

</body>
</html>
